<div class="header">
  <div class="barber" routerLink="/main" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Barbershop</div>
  <div class="information" routerLink="/information" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">ИНФОРМАЦИЯ</div>
  <div class="news" routerLink="/news" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">НОВОСТИ</div>
  <div class="price-list" routerLink="price-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">ПРАЙС-ЛИСТ</div>
  <div class="shop" routerLink="/shop" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">МАГАЗИН</div>
  <div class="contacts" routerLink="/contacts" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">КОНТАКТЫ</div>
  <div class="exit" routerLink="/exit" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">ВЫХОД</div>
</div>
