.header{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  text-align: center;
  height: 75px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}



.barber{
  flex-grow: 3;
  cursor: default;
  text-align: end;
  font-family: segoe script;
  padding-top: 25px;
  outline: 0;
  outline-offset: 0;
}
.information, .news, .price-list, .shop, .contacts{
  flex-grow: 1;
  padding-top: 25px;
}

.exit{
  flex-grow: 7;
  padding-top: 25px;
}

.information:hover, .news:hover, .price-list:hover, .shop:hover,
.contacts:hover, .exit:hover{
  background-color: grey;
  outline: 0;
  outline-offset: 0;
}

.price-list:active{
  border: none;
}

.active{
  outline: 0;
  outline-offset: 0;
}




