<h2 class="price-listName">
  ПРАЙС-ЛИСТ
</h2>
<h5 class="main">
  ГЛАВНАЯ &#160; &#9830; &#160; ПРАЙС-ЛИСТ
</h5>
<h1 class="classics">
  ИСТИННО МУЖСКАЯ КЛАССИКА
</h1>
<div class="whatWeUse">
  <h3 class="weUse">
    МЫ ИСПОЛЬЗУЕМ ТОЛЬКО ЛУЧШИЕ СРЕДСТВА:
  </h3>
  <h3 class="aboutUs">
    ЦЕНЫ НА УСЛУГИ НАШИХ МАСТЕРОВ:
  </h3>
</div>
<div class="shaving-cost">
  <div class="shaving">
    <h5>&#9830; BAXTER OF CALIFORNIA</h5>
    <h5>&#9830; MR NATTY</h5>
    <h5>&#9830; SUAVECITO</h5>
    <h5>&#9830; MALIN+GOETZ</h5>
  </div>
  <div class="cost">
    <app-table></app-table>
  </div>
</div>




