/* You can add global styles to this file, and also import other style files */
html{
  overflow: auto;
  background-color: #f9f5f2;
  height: auto;
  overflow-x: hidden;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}


